.page {
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.overlay {
  position: absolute;
  inset: 0 0 -80px 0;
  pointer-events: none;

  &--5 {
    background: rgba(0, 0, 0, .05);
  }

  &--20 {
    background: rgba(0, 0, 0, .20);
  }

  &--30 {
    background: rgba(0, 0, 0, .30);
  }

  &--33 {
    background: rgba(0, 0, 0, .33);
  }
}